.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.ipc_stage {
  width: 100%;
  overflow: hidden;
}

.ipc_scaler {
  width: 1600px;
  height: 600px;
  transform-origin: top left;
}
