* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #646cff;
  --text: #213547;
  --bg: #ffffff;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(255, 255, 255, 0.87);
    --bg: #242424;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}
